tr, th, td {
    border: 2px solid black;
    padding: 3%;
    
}
th{
    width: 40%;
}
td{
    width: 100%;
    max-width: 100%;
    overflow-wrap: break-word;
}
h1, h3{
    text-align: center;
}
h1{
    border-top: 4px solid #004587;
    background-color: #f7f7f7;
    /*border-bottom: 1px solid #e0e0e0;*/
    border-bottom: 2px solid #f7941d;
    height: 60px;
    position: relative;
    z-index: 2;
}
.botao{
    margin-left: 50%;
    display: inline;
};
.rodape{    
    border-top: 50px solid #f7941d;

    background-color: #004587;
    padding: 30px 0;
    color: #fff;
    font-family: Sanchez;
    clear: both !important;
    
    
};
.rodape {
    height: 50%;
    background: red;
    }

